<div class="container">
  <div class="banner">
    <h1>Welcome</h1>
  </div>
  <% if user_signed_in? %>
    <%= button_to 'sign_out', destroy_user_session_path, method: :delete, class: 'btn btn-success' %>
    <%= link_to 'members', user_path(current_user), class: 'link-opacity-50-hover' %>
  <% else %>
    <%= link_to 'sign_in', new_user_session_path, class: 'link-opacity-50-hover' %>
    <%= link_to 'sign_up', new_user_registration_path, class: 'link-opacity-50-hover' %>
  <% end %>
</div>
